a{
    text-decoration: none;
    color: white;
}

/* ===================(navbar started)=================== */
header {
    background-color: #000000;
    width: 100%;
    /* position: fixed; 
    top: 0; 
    z-index: 1000; */
    border-bottom: 5px solid #ed1c24;
}
.logo{
    width: 165px;
}
.nav-text{
    font-size: 15px;
    font-weight: 300;
}
.franchise{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 15px 25px;
    border-radius: 25px;
}
.order-btn{
    background-color: #ed1c24;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
}
.arrow-icon{
    color: #ed1c24;
    background-color: #ffffff;
    padding: 5px 5px;
    border-radius: 20px;
    margin-left: 5px;
}
/* ===================(navbar ended)=================== */


/* ===================(container started)=================== */
.container{
    width: 100%;
    cursor: pointer;
}
/* ===================(container ended)=================== */


/* ===================(section(1) started)=================== */
.section-1-h2{
    font-size: 47px;
    font-family: "Ubuntu Sans Mono", monospace;
    font-weight: lighter;
    /* color: #ffffff; */
}
.section-1-p{
    font-size: 18px;
    /* color: #ffffff; */
}

.Saltn_Pepper{
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: larger;
  font-style: normal;
}

.section-1_picutre{
    /* margin: 0px 10px; */
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-1_pic{
    border-radius: 5px;
    width: 250px;
    height: 140px;
    padding: 20px 15px;
    cursor: pointer;
}
.section-1_picutre-btn{
    margin-top: 20px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px 45px;
    border-radius: 25px;
    cursor: pointer;
    font-size: medium;
}
/* ===================(section(1) ended)=================== */


/* ===================(section(2) started)=================== */
.section-2-SD-inner{
    /* border: #000000 solid 2px; */
    width: 500px;
    padding-left: 5px;
}
.section-2-h2{
    font-size: 31px;
    font-weight: lighter;
    margin-bottom: 25px;
 
}

.section-2-span{
    font-weight:900;
    
}
.section-2-p{
    font-size: 15px;
    color: #b7b7b7;
    padding-bottom: 10px;
}

.fa-map-marker{
    color: #b7b7b7;
    
}
.fa-phone{
    color: #b7b7b7;
}
.section-2-bn{
    background-color:transparent;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 30px;
    border-radius: 25px;
    margin: 40px 0px;
    cursor: pointer;
}
/* ===================(section(2) ended)=================== */


/* ===================(section(3) started)=================== */
.section-3-SD-inner{
    /* border: #000000 solid 2px; */
    width: 370px;
    
}
.section-3-img{
    width: 360px;
    height: 250px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.section-3-p{
    font-size: 15px;
    color: #b7b7b7;
    margin-bottom: 15px;
}
.section-3-span{
    font-weight:900;
    /* font-size: 30px; */
    
}
.section-3-h2{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 15px;
}
.section-3-bn{
    background-color:transparent;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 12px 30px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 30px ;
    cursor: pointer;
}
/* ===================(section(3) ended)=================== */



/* ===================(section(4) started)===================  */


/* ===================(section(4) ended)===================  */